body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #03000e;
    color: #fff;
}
.timer {
    font-size: 25px;
    font-weight: bold;
    color: #a3acff;
}
